@using GST.Web.InputModels.PicturesInputModels
@model NewPictureInputModel
@{
    ViewData["Title"] = "Create new video";
}
@Html.Partial("_BackOptionPartial")

<div class="container">
    <form asp-controller="AdministrationArea" asp-action="CreatePicture" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="File"></label>
            <input asp-for="File" />
        </div>
        <button type="submit" class="btn-primary btn-lg">Create</button>
    </form>
</div>