@{ ViewData["Title"] = "Administration Area"; }

<div class="container">
    <h2>Administration Area</h2>
    <br />
    <ul class="list-group">
        <li class="list-group-item"><a asp-action="AllUsers" asp-controller="AdministrationArea">Users</a></li>
        <li class="list-group-item"><a asp-action="EditGameInfo" asp-controller="AdministrationArea">Game Information</a></li>
        <li class="list-group-item"><a asp-action="ListPosts" asp-controller="AdministrationArea">Posts</a></li>
        <li class="list-group-item"><a asp-action="ViewPictures" asp-controller="AdministrationArea">Pictures</a></li>
        <li class="list-group-item"><a asp-action="ViewVideos" asp-controller="AdministrationArea">Videos</a></li>
        <li class="list-group-item"><a asp-action="EditStaticPages" asp-controller="AdministrationArea">Static pages</a></li>
        <li class="list-group-item"><a asp-action="ListLogs" asp-controller="AdministrationArea">Logs</a></li>
        <li class="list-group-item"><a asp-action="Index" asp-controller="Home">&laquo; Back</a></li>
    </ul>
</div>