@{ 
    Layout = "_AdminLayout";
}

@{ ViewData["Title"] = "Administration Area"; }

<div class="container">
    <h2>Administration Area</h2>
    <br />
    <ul class="list-group">
        <li class="list-group-item">List users</li>
        <li class="list-group-item">View Pictures</li>
        <li class="list-group-item">View Videos</li>
        <li class="list-group-item"><a asp-action="ViewStaticPages" asp-controller="AdministrationArea">View static pages</a></li>
        <li class="list-group-item"><a asp-action="Index" asp-controller="Home">&laquo; Back</a></li>
    </ul>
</div>