@{
    ViewData["Title"] = "Logs";
}
@Html.Partial("_BackOptionPartial")

@section Scripts {
    <script>
        var model = JSON.parse('@Html.Raw(ViewBag.Json)')
        var lastEntry = "";
    </script>
}
<form>
    <input style="color:black;" type="text" name="category" id="searchField" placeholder="Filter logs" />
</form>
<div class="container">
    <h2>Logs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Content</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@await Component.InvokeAsync("PageNavigation", new { currentPage = ViewBag.CurrentPage, totalLinksToDisplay = ViewBag.TotalLinksToDisplay, redirectActionName = "ListLogs", controllerName = "AdministrationArea" })