@using GST.Web.InputModels.PagesInputModels
@model NewPageInputModel

<a asp-controller="AdministrationArea" asp-action="Index">&laquo; Back</a>
<h2>New Static Page</h2>

@section Scripts {
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "link image code",
            relative_urls: false,
            remove_script_host: false
        });
    </script>
}

<div class="container">
    <form asp-controller="AdministrationArea" asp-action="NewPage" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <button type="submit" class="btn-primary btn-lg pull-right">Create</button>
        <br />
        <h4>Content</h4>
        <textarea name="Content" rows="20" cols="120"></textarea>
    </form>
</div>