@using GST.Data.Models;
@model ICollection<Video>

<h4 class="content-header">List of all videos</h4>

<iframe width="315" height="315" src="https://www.youtube.com/embed/6N2wY-YCvVM" frameborder="0" allowfullscreen></iframe>