@using Microsoft.AspNetCore.Identity
@using GST.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Manage" asp-action="Index" title="Manage">Hello <span style="color:red">@UserManager.GetUserName(User)</span>!</a>
                    }
                    else if (User.IsInRole("Moderator"))
                    {
                        <a asp-controller="Manage" asp-action="Index" title="Manage">Hello <span style="color:dodgerblue">@UserManager.GetUserName(User)</span>!</a>
                    }
                }
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Logout">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href=@Url.Action("Login", "Account")><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
}
