#background {
	background-image: url("../images/background.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar-color {
	background-color: rgba(0, 0, 0, 0.2);
}

.transparent-bg {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

.text-color {
	color: white;
}

.new-title {
	font-size: 18px;
}

.new-post-info {
	font-size: 12px;
}

.content-header {
	color: dodgerblue;
}

.footer {
    margin-top: 20px;
    text-align:left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#main-content {
    min-height: 500px;
}

.wrapper {
    min-height: 450px;
}