@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>Welcome @Model.Username!</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>You have those roles: Adminstrator, Moderator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>Admin panel:</dt>
        <dd>
            <a href="#">Enter</a>
        </dd>
    </dl>
</div>
